<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings file="private.config">
    <add key="api.custom-vision.prediction.url.file" value="https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/Prediction/75057836-aade-408e-a730-9009e7907f04/detect/iterations/Iteration1/image"/>
  </appSettings>
</configuration>